# Agenda

1. Data structures (today)
    - Implementation
    - `Decimal`
    - `namedtuple`
    - Dictionary variations
2. Functions (1 day)
    - Functions as objects
    - Bytecodes
    - Arguments and parameters
    - Type hints/annotations
    - Scoping 
    - Inner functions
    - Dispatch tables
3. Functional programming (1 day)
    - Comprehensions (list, dict, set, nested)
    - Functions as arguments (`sorted`)
    - `lambda`, `map`, `filter`
4. Modules (a little bit) (0.25 day)
5. Objects (2 days)
    - Classes
    - Instances
    - Methods
    - Attributes
    - Inheritance
    - Properties
    - Descriptors
6. Iterators (0.75 day)
    - Making your classes iterable
    - Generator functions and generators
    - Generator expressions/comprehensions
    - Coroutines
7. Decorators (0.75 day)
    - Decoratorating functions
    - Static methods, class methods
    - Decoratorating classes
8. Concurrency (0.5 day)
    - Threading
    - Multiprocessing
    - `asyncio`

# Data structures

In [1]:
x = None

In [2]:
def add(x, y=None):
    return x + y

In [3]:
add(10, 5)

15

In [4]:
add(10)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [5]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [6]:
s = 'abcd   efgh   ijkl'

In [7]:
s.split(' ')

['abcd', '', '', 'efgh', '', '', 'ijkl']

In [8]:
s.split()

['abcd', 'efgh', 'ijkl']

In [9]:
x = None

# how can I check if x is None?

if x == None:
    print('Yes, it is None!')
else:
    print('No, it is not None')

Yes, it is None!

In [10]:
# None is a singleton

In [11]:
type(None)

NoneType

In [12]:
x = type(None)()  
y = type(None)()

In [13]:
# id returns the unique ID number of the object in Python

id(x)

4564449648

In [14]:
id(y)

4564449648

In [15]:
id(x) == id(y)

True

In [16]:
# we compare singletons with "is"

x is None

True

In [17]:
y is None

True

In [18]:
x = 10
x is not None

True

In [20]:
x = None
None is x

True

In [21]:
x = 10
y = 10

x == y

True

In [22]:
x is y

True

In [23]:
x = 1000
y = 1000

x == y

True

In [24]:
x is y

False

In [33]:
import dis

s = '''x = 1000
y = 1000'''

dis.dis(compile(s, '', 'exec'))

  1           0 LOAD_CONST               0 (1000)
              2 STORE_NAME               0 (x)

  2           4 LOAD_CONST               0 (1000)
              6 STORE_NAME               1 (y)
              8 LOAD_CONST               1 (None)
             10 RETURN_VALUE

In [34]:
exec(s)
x is y

True

In [29]:
x = y = 1000

In [37]:
import dis

s = '''x = y = 1000'''

dis.dis(compile(s, '', 'exec'))

  1           0 LOAD_CONST               0 (1000)
              2 DUP_TOP
              4 STORE_NAME               0 (x)
              6 STORE_NAME               1 (y)
              8 LOAD_CONST               1 (None)
             10 RETURN_VALUE

In [35]:
eval('2 + 5')   # evil

7

In [36]:
eval('x = 5')

SyntaxError: invalid syntax (<string>, line 1)

In [30]:
x is y

True

In [38]:
x = y = [10, 20, 30]

In [39]:
x.append(40)
y

[10, 20, 30, 40]

In [40]:
x is y

True

In [25]:
x = True

if x == True:
    print('It is True!')
else:
    print('It is False!')

It is True!

In [26]:
x = True

if x:
    print('It is True!')
else:
    print('It is False!')

It is True!

In [41]:
x = 'abcd'
y = 'abcd' 

x == y

True

In [42]:
x is y

True

In [43]:
x = 'abcd' * 100_000
y = 'abcd' * 100_000

In [44]:
x == y

True

In [45]:
x is y

False

In [46]:
x = 'a.b'
y = 'a.b'

x == y

True

In [47]:
x is y

False

In [48]:
x = 10

In [49]:
# globals() returns the dict of all global variables

globals()['x']

10

In [50]:
globals()['x'] = 200

x

200

In [51]:
import sys
x = sys.intern('abcd' * 100_000)

In [52]:
y = sys.intern('abcd' * 100_000)

In [53]:
x is y

True

# Interning of strings

Python does interning (caching) of any string that is:

- Shorter than 1000 characters
- Only contains valid identifier characters

In [55]:
x = sys.intern('efgh' * 100_000)
y = 'efgh' * 100_000

In [56]:
x is y

False

In [57]:
x = 0

In [58]:
sys.getsizeof(x)

24

In [59]:
x = 1
sys.getsizeof(x)

28

In [60]:
x = 100_000_000
sys.getsizeof(x)

28

In [61]:
x = x ** 100

In [62]:
sys.getsizeof(x)

380

In [63]:
x = x ** 100
sys.getsizeof(x)

35460

In [64]:
0.1 + 0.2

0.30000000000000004

In [65]:
0.1 + 0.2 == 0.3

False

In [66]:
round(0.1 + 0.2, 4)

0.3

In [67]:
from decimal import Decimal

In [68]:
x = Decimal('0.1')  # use strings here!
y = Decimal('0.2')

In [69]:
x + y

Decimal('0.3')

In [70]:
float(x+y)

0.3

In [71]:
x = Decimal(0.1) 
y = Decimal(0.2)

In [72]:
x

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [73]:
y

Decimal('0.200000000000000011102230246251565404236316680908203125')

In [74]:
x+y

Decimal('0.3000000000000000166533453694')

# Strings

In [75]:
s = 'abcd'
len(s)

4

In [76]:
s[0]

'a'

In [77]:
s = '◊©◊ú◊ï◊ù'
len(s)

4

In [78]:
s[0]

'◊©'

In [80]:
sys.getsizeof('')

49

In [82]:
sys.getsizeof('a')  # one byte!

50

In [83]:
sys.getsizeof('◊©')

76

In [84]:
s

'◊©◊ú◊ï◊ù'

In [86]:
b = s.encode()   # return the bytes in this string
b

b'\xd7\xa9\xd7\x9c\xd7\x95\xd7\x9d'

In [87]:
b.decode()

'◊©◊ú◊ï◊ù'

In [90]:
s.encode(encoding='iso-8859-8')

b'\xf9\xec\xe5\xed'

In [91]:
# latin-1, latin-2, latin-3
# 8859-1, 8859-2, ...

# 8859-8

In [92]:
ord('a')   # what is the Unicode number for this character?

97

In [93]:
ord('◊©')

1513

In [94]:
ord('Âåó')

21271

In [95]:
# Encodings

# encoding UTF-8 -- ASCII - 1 byte, Hebrew/Arabic/Greek/Russian/Spanish -- 2 bytes, Chinese/Korean -- 3+ bytes

In [96]:
s = 'Âåó‰∫¨'

In [97]:
s.encode()

b'\xe5\x8c\x97\xe4\xba\xac'

In [98]:
len(s)

2

In [99]:
ord('üòÇ')

128514

In [100]:
s = 'üáÆüá±'

In [101]:
len(s)

2

In [102]:
s[0]

'üáÆ'

In [103]:
s[1]

'üá±'

In [104]:
a = int('2')

# Next up

1. Lists + tuples + sequences
2. named tuples
3. Dictionaries

15:20

In [105]:
mylist = [10, 20, 30]
mylist.append(40)

mylist

[10, 20, 30, 40]

In [106]:
x = [10, 20, 30]
y = x

x.append(40)
y

[10, 20, 30, 40]

In [107]:
mylist = [10, 20, 30]
mylist += [40, 50, 60]  # adds each element of the right side

In [108]:
mylist

[10, 20, 30, 40, 50, 60]

In [109]:
mylist += 'abc'
mylist

[10, 20, 30, 40, 50, 60, 'a', 'b', 'c']

In [110]:
mylist.append('abc')

In [111]:
mylist

[10, 20, 30, 40, 50, 60, 'a', 'b', 'c', 'abc']

In [112]:
mylist.append(100)

In [113]:
mylist += 100

TypeError: 'int' object is not iterable

In [114]:
mylist.append([40, 50, 60])
mylist

[10, 20, 30, 40, 50, 60, 'a', 'b', 'c', 'abc', 100, [40, 50, 60]]

In [115]:
mylist = [10, 20, 30]
mylist = mylist.append(40)  # append returns None -- don't do this!

In [116]:
print(mylist)

None

In [117]:
mylist = [10, 20, 30, 40, 50, 60, 70 ,80, 90, 100]

In [118]:
mylist.pop()  # removes + returns the final element

100

In [119]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [120]:
mylist.pop(3)

40

In [121]:
mylist

[10, 20, 30, 50, 60, 70, 80, 90]

In [122]:
mylist.insert(4, 'hello')

In [123]:
mylist

[10, 20, 30, 50, 'hello', 60, 70, 80, 90]

In [124]:
mylist = []
sys.getsizeof(mylist)

56

In [125]:
mylist = []
for i in range(30):
    print(f'{i=}\t{len(mylist)=}\t{sys.getsizeof(mylist)=}')
    mylist.append(i)

i=0	len(mylist)=0	sys.getsizeof(mylist)=56
i=1	len(mylist)=1	sys.getsizeof(mylist)=88
i=2	len(mylist)=2	sys.getsizeof(mylist)=88
i=3	len(mylist)=3	sys.getsizeof(mylist)=88
i=4	len(mylist)=4	sys.getsizeof(mylist)=88
i=5	len(mylist)=5	sys.getsizeof(mylist)=120
i=6	len(mylist)=6	sys.getsizeof(mylist)=120
i=7	len(mylist)=7	sys.getsizeof(mylist)=120
i=8	len(mylist)=8	sys.getsizeof(mylist)=120
i=9	len(mylist)=9	sys.getsizeof(mylist)=184
i=10	len(mylist)=10	sys.getsizeof(mylist)=184
i=11	len(mylist)=11	sys.getsizeof(mylist)=184
i=12	len(mylist)=12	sys.getsizeof(mylist)=184
i=13	len(mylist)=13	sys.getsizeof(mylist)=184
i=14	len(mylist)=14	sys.getsizeof(mylist)=184
i=15	len(mylist)=15	sys.getsizeof(mylist)=184
i=16	len(mylist)=16	sys.getsizeof(mylist)=184
i=17	len(mylist)=17	sys.getsizeof(mylist)=248
i=18	len(mylist)=18	sys.getsizeof(mylist)=248
i=19	len(mylist)=19	sys.getsizeof(mylist)=248
i=20	len(mylist)=20	sys.getsizeof(mylist)=248
i=21	len(mylist)=21	sys.getsizeof(mylist)=248
i=22	len(mylist)=22	sys.getsizeof(mylist)=248
i=23	len(mylist)=23	sys.getsizeof(mylist)=248
i=24	len(mylist)=24	sys.getsizeof(mylist)=248
i=25	len(mylist)=25	sys.getsizeof(mylist)=312
i=26	len(mylist)=26	sys.getsizeof(mylist)=312
i=27	len(mylist)=27	sys.getsizeof(mylist)=312
i=28	len(mylist)=28	sys.getsizeof(mylist)=312
i=29	len(mylist)=29	sys.getsizeof(mylist)=312

In [126]:
mylist[0] = 'abcdefghij'
sys.getsizeof(mylist)

312

In [127]:
mylist[0] = 'abcdefghij' * 10_000_000

In [128]:
sys.getsizeof(mylist)

312

In [129]:
sys.getsizeof(mylist[0])

100000049

In [130]:
print(f'sys.getsizeof(mylist[0]) = {sys.getsizeof(mylist[0])}')

sys.getsizeof(mylist[0]) = 100000049

In [131]:
print(f'sys.getsizeof(mylist[0]) = {sys.getsizeof(mylist[0]):,}')

sys.getsizeof(mylist[0]) = 100,000,049

In [132]:
x = 'abcd'

print(f'x = {x}, len(x) = {len(x)}')

x = abcd, len(x) = 4

In [133]:
# from Python 3.8, we can say:

print(f'{x=}, {len(x)=}')

x='abcd', len(x)=4

In [134]:
t = (10, 20, 30, 40, 50)
type(t)

tuple

In [135]:
t = (10, 20, 30)
type(t)

tuple

In [136]:
t = (10, 20)
type(t)

tuple

In [137]:
t = (10)
type(t)

int

In [138]:
t = ()
type(t)

tuple

In [139]:
10 + 20 * 30

610

In [140]:
(10 + 20) * 30

900

In [141]:
# want a tuple? you need a comma
t = (10,)
type(t)

tuple

In [143]:
t = 10, 20, 30     # unpacking -- very common, or in returning from a function
t

(10, 20, 30)

In [144]:
t = 10,

In [145]:
t

(10,)

In [146]:
t = (10, 20, 30)

In [147]:
p = ('Reuven', 'Lerner', 46)

In [148]:
p[0]

'Reuven'

In [149]:
p[1]

'Lerner'

In [150]:
p[2]

46

In [151]:
# named tuple 

from collections import namedtuple

#                  __name__    attributes of each instance of Person
Person = namedtuple('Person', ['first', 'last', 'shoesize'])

In [152]:
type(Person)    # I created a class

type

In [153]:
str.__name__

'str'

In [154]:
int.__name__

'int'

In [155]:
dict.__name__

'dict'

In [156]:
Person.__name__

'Person'

In [157]:
p = Person('Reuven', 'Lerner', 46)

In [158]:
p[0]

'Reuven'

In [159]:
p[1]

'Lerner'

In [160]:
p[2]

46

In [161]:
type(p)

__main__.Person

In [162]:
p.first

'Reuven'

In [163]:
p.last

'Lerner'

In [164]:
p.shoesize

46

In [165]:
p.first = 'asdfsafasfa'

AttributeError: can't set attribute

In [167]:
p._replace(first='asdfafa')   # returns a new namedtuple of type Person, with the switched values

Person(first='asdfafa', last='Lerner', shoesize=46)

In [168]:
# you can name the attributes with a list of strings
Person = namedtuple('Person', ['first', 'last', 'shoesize'])

In [169]:
Person = namedtuple('Person', 'first last shoesize')

In [170]:
p

Person(first='Reuven', last='Lerner', shoesize=46)

In [171]:
p2 = p._replace(first='asdfafa')

In [172]:
p

Person(first='Reuven', last='Lerner', shoesize=46)

In [173]:
p2

Person(first='asdfafa', last='Lerner', shoesize=46)

# Exercise: Bookstore

1. Define a new `Book` class with `namedtuple`.  Fields should be `title`, `author`, and `price`.
2. Define `total` to be 0; it'l contain the total price of all books bought.
3. Define 3-4 instances of `Book`, and put in a list, `inventory`.
4. Ask the user, repeatedly, for the name of the book they want to buy.
    - If they give us an empty string, exit from the loop
    - If they give us a book that is in `inventory`, then print all info about the book, update `total`, and print the new `total`.
    - If they give us the name of a book that is *not* in `inventory`, tell them and ask to order again.
5. Print `total` at the end of the loop.

In [174]:
from collections import namedtuple

Book = namedtuple('Book', 'title author price')

b1 = Book('title1', 'author1', 100)
b2 = Book('title2', 'author2', 75)
b3 = Book('title3', 'author2', 120)
b4 = Book('title4', 'author3', 90)

inventory = [ b1, b2, b3, b4]

In [175]:
inventory

[Book(title='title1', author='author1', price=100),
 Book(title='title2', author='author2', price=75),
 Book(title='title3', author='author2', price=120),
 Book(title='title4', author='author3', price=90)]

In [176]:
total = 0

In [ ]:
while True:
    s = input('Enter title: ').strip()
    
    if not s:   # got an empty string? break
        break
        
    for one_book in inventory:
        if one_book.title == s:
            print(f'Found {}')