# Agenda

1. Q&A
2. Dispatch tables
3. Comprehensions (list, dict, set, nested)
4. Functional programming (passing functions as arguments)
5. `lambda`

In [1]:
def a():
    return 'A'

def b():
    return 'B'

while True:
    s = input('Enter function name: ').strip()
    
    if not s:
        break
        
    if s == 'a':
        print(a())
    elif s == 'b':
        print(b())
    else:
        print(f'{s} is not a valid option')

Enter function name: a
A
Enter function name: b
B
Enter function name: x
x is not a valid option
Enter function name: z
z is not a valid option
Enter function name: q
q is not a valid option
Enter function name: w
w is not a valid option
Enter function name: ab
ab is not a valid option
Enter function name:

# Dispatch table

In [2]:
def a():
    return 'A'

def b():
    return 'B'

funcs = {'a':a,
         'b':b}

while True:
    s = input('Enter function name: ').strip()
    
    if not s:
        break
        
    if s in funcs:
        print(funcs[s]())
    else:
        print(f'{s} is not a valid option')

Enter function name: a
A
Enter function name: b
B
Enter function name: c
c is not a valid option
Enter function name:

# Exercise: Calculator

1. Write two functions, `add` and `mul`, that implement addition and multiplication.
2. Ask the user, repeatedly, to enter a simple math expression with two numbers and either `+` or `*`.
    - If the operator is known, then run the appropriate function, and display the expression and the result.
    - If not, then give the user a message that makes it clear the operator isn't known.
3. Use a dispatch table to implement this functionality.
4. How easy will it be to add new operators, and functions?

Example:

    Enter expression: 2 + 5
    2 + 5 = 7
    Enter expression: 3 * 10
    3 * 10 = 30
    Enter expression: 10 / 2
    10 / 2 = (not implemented)

In [6]:
def add(first, second):
    return first + second

def mul(first, second):
    return first * second

def sub(first, second):
    return first - second

funcs = {'+':add,
         '*':mul,
         '-':sub        }

while True:
    s = input('Enter expression: ').strip()
    
    if not s:
        break
        
    fields = s.split()
    if len(fields) != 3:
        print(f'Illegal input; enter an expression as X op Y')
        continue
        
    x, op, y = fields
    x = int(x)
    y = int(y)
    
    if op in funcs:
        result = funcs[op](x, y)
    else:
        result = f'({op} is not implemented)'
        
    print(f'{x} {op} {y} = {result}')

Enter expression: 2 + 3
2 + 3 = 5
Enter expression:

In [8]:
# prefix syntax
# + 2 3 4 5
# * 2 3 4 5

def add(*numbers):
    total = 0
    
    for one_number in numbers:
        total += one_number

    return total

def mul(*numbers):
    product = 1
    
    for one_number in numbers:
        product *= one_number
        
    return product

    
funcs = {'+':add,
         '*':mul}

while True:
    s = input('Enter expression: ').strip()
    
    if not s:
        break
        
    op, *str_numbers = s.split()     # str_numbers will be a list
        
    numbers = []
    for one_number in str_numbers:
        if one_number.isdigit():
            numbers.append(int(one_number))
        else:
            print(f'Ignoring {one_number}; not intable')

    if op in funcs:
        result = funcs[op](*numbers)  # turn the list numbers into many individual arguments, from its elements
    else:
        result = f'({op} is not implemented)'
        
    print(f'{x} {op} {y} = {result}')

Enter expression: + 2 3 4
2 + 3 = 9
Enter expression: * 2 3 4
2 * 3 = 24
Enter expression:

# Uses for `*NAME`

- In the definition of a function, `*args` is a tuple, with all positional args no one else wanted
- In calling a function, `*name` must be an iterable, and its elements will be arguments to the function
- In unpacking, `*name` makes `name` a list, with all elements that other variables didn't get.

In [12]:
s = {10, 20, 30}

def mysum(*numbers):
    print(f'{numbers=}')
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [13]:
mysum(s)

numbers=({10, 20, 30},)

TypeError: unsupported operand type(s) for +=: 'int' and 'set'

In [14]:
mysum(*s)

numbers=(10, 20, 30)

60

In [15]:
x,*y,z = range(10, 20)

In [16]:
x

10

In [17]:
y

[11, 12, 13, 14, 15, 16, 17, 18]

In [18]:
z

19

In [19]:
w,*x,y,z = range(10, 20)

In [20]:
w

10

In [21]:
x

[11, 12, 13, 14, 15, 16, 17]

In [22]:
y

18

In [23]:
z

19

# Comprehensions

In [24]:
numbers = range(10)

# I want a new list whose elements are the same as numbers, but **2
output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
str_numbers = '10 20 30 40 50'

numbers = []
for one_number in str_numbers.split():
    if one_number.isdigit():
        numbers.append(int(one_number))
    else:
        print(f'Ignoring {one_number}; not intable')

numbers

[10, 20, 30, 40, 50]

In [27]:
# list comprehension
# creates a new list!

[one_number ** 2 for one_number in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
[int(one_item) for one_item in str_numbers.split()]

[10, 20, 30, 40, 50]

In [29]:
[one_number ** 2                # expression 
 for one_number in range(10)]   # iteration

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
[int(one_item)                         # SELECT -- any Python expression can be here!
 for one_item in str_numbers.split()]  # FROM  -- any Python iterable can be here!

[10, 20, 30, 40, 50]

# Exercises: Comprehensions

1. Define a list of integers. Use `str.join` to join the integers together with spaces. Remember that `str.join` won't work on a list of int; you need to