# Agenda

1. Q&A
2. Dispatch tables
3. Comprehensions (list, dict, set, nested)
4. Functional programming (passing functions as arguments)
5. `lambda`

In [1]:
def a():
    return 'A'

def b():
    return 'B'

while True:
    s = input('Enter function name: ').strip()
    
    if not s:
        break
        
    if s == 'a':
        print(a())
    elif s == 'b':
        print(b())
    else:
        print(f'{s} is not a valid option')

Enter function name: a
A
Enter function name: b
B
Enter function name: x
x is not a valid option
Enter function name: z
z is not a valid option
Enter function name: q
q is not a valid option
Enter function name: w
w is not a valid option
Enter function name: ab
ab is not a valid option
Enter function name:

# Dispatch table

In [2]:
def a():
    return 'A'

def b():
    return 'B'

funcs = {'a':a,
         'b':b}

while True:
    s = input('Enter function name: ').strip()
    
    if not s:
        break
        
    if s in funcs:
        print(funcs[s]())
    else:
        print(f'{s} is not a valid option')

Enter function name: a
A
Enter function name: b
B
Enter function name: c
c is not a valid option
Enter function name:

# Exercise: Calculator

1. Write two functions, `add` and `mul`, that implement addition and multiplication.
2. Ask the user, repeatedly, to enter a simple math expression with two numbers and either `+` or `*`.
    - If the operator is known, then run the appropriate function, and display the expression and the result.
    - If not, then give the user a message that makes it clear the operator isn't known.
3. Use a dispatch table to implement this functionality.
4. How easy will it be to add new operators, and functions?

Example:

    Enter expression: 2 + 5
    2 + 5 = 7
    Enter expression: 3 * 10
    3 * 10 = 30
    Enter expression: 10 / 2
    10 / 2 = (not implemented)

In [6]:
def add(first, second):
    return first + second

def mul(first, second):
    return first * second

def sub(first, second):
    return first - second

funcs = {'+':add,
         '*':mul,
         '-':sub        }

while True:
    s = input('Enter expression: ').strip()
    
    if not s:
        break
        
    fields = s.split()
    if len(fields) != 3:
        print(f'Illegal input; enter an expression as X op Y')
        continue
        
    x, op, y = fields
    x = int(x)
    y = int(y)
    
    if op in funcs:
        result = funcs[op](x, y)
    else:
        result = f'({op} is not implemented)'
        
    print(f'{x} {op} {y} = {result}')

Enter expression: 2 + 3
2 + 3 = 5
Enter expression:

In [8]:
# prefix syntax
# + 2 3 4 5
# * 2 3 4 5

def add(*numbers):
    total = 0
    
    for one_number in numbers:
        total += one_number

    return total

def mul(*numbers):
    product = 1
    
    for one_number in numbers:
        product *= one_number
        
    return product

    
funcs = {'+':add,
         '*':mul}

while True:
    s = input('Enter expression: ').strip()
    
    if not s:
        break
        
    op, *str_numbers = s.split()     # str_numbers will be a list
        
    numbers = []
    for one_number in str_numbers:
        if one_number.isdigit():
            numbers.append(int(one_number))
        else:
            print(f'Ignoring {one_number}; not intable')

    if op in funcs:
        result = funcs[op](*numbers)  # turn the list numbers into many individual arguments, from its elements
    else:
        result = f'({op} is not implemented)'
        
    print(f'{x} {op} {y} = {result}')

Enter expression: + 2 3 4
2 + 3 = 9
Enter expression: * 2 3 4
2 * 3 = 24
Enter expression:

# Uses for `*NAME`

- In the definition of a function, `*args` is a tuple, with all positional args no one else wanted
- In calling a function, `*name` must be an iterable, and its elements will be arguments to the function
- In unpacking, `*name` makes `name` a list, with all elements that other variables didn't get.

In [12]:
s = {10, 20, 30}

def mysum(*numbers):
    print(f'{numbers=}')
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [13]:
mysum(s)

numbers=({10, 20, 30},)

TypeError: unsupported operand type(s) for +=: 'int' and 'set'

In [14]:
mysum(*s)

numbers=(10, 20, 30)

60

In [15]:
x,*y,z = range(10, 20)

In [16]:
x

10

In [17]:
y

[11, 12, 13, 14, 15, 16, 17, 18]

In [18]:
z

19

In [19]:
w,*x,y,z = range(10, 20)

In [20]:
w

10

In [21]:
x

[11, 12, 13, 14, 15, 16, 17]

In [22]:
y

18

In [23]:
z

19

# Comprehensions

In [24]:
numbers = range(10)

# I want a new list whose elements are the same as numbers, but **2
output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
str_numbers = '10 20 30 40 50'

numbers = []
for one_number in str_numbers.split():
    if one_number.isdigit():
        numbers.append(int(one_number))
    else:
        print(f'Ignoring {one_number}; not intable')

numbers

[10, 20, 30, 40, 50]

In [27]:
# list comprehension
# creates a new list!

[one_number ** 2 for one_number in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
[int(one_item) for one_item in str_numbers.split()]

[10, 20, 30, 40, 50]

In [29]:
[one_number ** 2                # expression 
 for one_number in range(10)]   # iteration

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
[int(one_item)                         # SELECT -- any Python expression can be here!
 for one_item in str_numbers.split()]  # FROM  -- any Python iterable can be here!

[10, 20, 30, 40, 50]

# Exercises: Comprehensions

1. Define a list of integers. Use `str.join` to join the integers together with spaces. Remember that `str.join` won't work on a list of int; you need to turn each int into a string.
2. Ask the user to enter a sentence.  Use a list comprehension to count the non-whitespace characters in all of the words.

In [35]:
mylist = [10, 20, 30, 40, 50]

' '.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [32]:
# comprehension check:

# - what do I have as input? list of integers
# - what do I want as output? list of strings
# - do I have an expression that translates from the first to the second? Yes, str

[str(one_item)
 for one_item in mylist]

['10', '20', '30', '40', '50']

In [34]:
' '.join([str(one_item)
             for one_item in mylist])

'10 20 30 40 50'

In [36]:
s = 'This is a fantastic test sentence for our exercise'

In [37]:
len(s)

50

In [38]:
s.split()

['This', 'is', 'a', 'fantastic', 'test', 'sentence', 'for', 'our', 'exercise']

In [40]:
[len(one_word)
 for one_word in s.split()]

[4, 2, 1, 9, 4, 8, 3, 3, 8]

In [41]:
sum([len(one_word)
 for one_word in s.split()])

42

In [42]:
# input is a list of strings
# output is a list of integers, the length of each word
# transform by running len

In [43]:
s = '  a  b  c  d   '

s.split(' ')

['', '', 'a', '', 'b', '', 'c', '', 'd', '', '', '']

In [44]:
s.split()

['a', 'b', 'c', 'd']

In [45]:
s = 'this is a bunch of words for my class'

s.capitalize()

'This is a bunch of words for my class'

In [46]:
s.title()

'This Is A Bunch Of Words For My Class'

In [47]:
# how can I get the same output as title, but using only capitalize?

[one_word.capitalize()
 for one_word in s.split()]

['This', 'Is', 'A', 'Bunch', 'Of', 'Words', 'For', 'My', 'Class']

In [48]:
' '.join([one_word.capitalize()
         for one_word in s.split()])

'This Is A Bunch Of Words For My Class'

In [51]:
[one_line.split(':')[0]   # get the first field from the list we got from splitting on ':'
 for one_line in open('/etc/passwd')]

['##\n',
 '# User Database\n',
 '# \n',
 '# Note that this file is consulted directly only when the system is running\n',
 '# in single-user mode.  At other times this information is provided by\n',
 '# Open Directory.\n',
 '#\n',
 '# See the opendirectoryd(8) man page for additional information about\n',
 '# Open Directory.\n',
 '##\n',
 'nobody',
 'root',
 'daemon',
 '_uucp',
 '_taskgated',
 '_networkd',
 '_installassistant',
 '_lp',
 '_postfix',
 '_scsd',
 '_ces',
 '_appstore',
 '_mcxalr',
 '_appleevents',
 '_geod',
 '_devdocs',
 '_sandbox',
 '_mdnsresponder',
 '_ard',
 '_www',
 '_eppc',
 '_cvs',
 '_svn',
 '_mysql',
 '_sshd',
 '_qtss',
 '_cyrus',
 '_mailman',
 '_appserver',
 '_clamav',
 '_amavisd',
 '_jabber',
 '_appowner',
 '_windowserver',
 '_spotlight',
 '_tokend',
 '_securityagent',
 '_calendar',
 '_teamsserver',
 '_update_sharing',
 '_installer',
 '_atsserver',
 '_ftp',
 '_unknown',
 '_softwareupdate',
 '_coreaudiod',
 '_screensaver',
 '_locationd',
 '_trustevaluationagent',
 '_timezone',
 '_lda',
 '_cvmsroot',
 '_usbmuxd',
 '_dovecot',
 '_dpaudio',
 '_postgres',
 '_krbtgt',
 '_kadmin_admin',
 '_kadmin_changepw',
 '_devicemgr',
 '_webauthserver',
 '_netbios',
 '_warmd',
 '_dovenull',
 '_netstatistics',
 '_avbdeviced',
 '_krb_krbtgt',
 '_krb_kadmin',
 '_krb_changepw',
 '_krb_kerberos',
 '_krb_anonymous',
 '_assetcache',
 '_coremediaiod',
 '_launchservicesd',
 '_iconservices',
 '_distnote',
 '_nsurlsessiond',
 '_displaypolicyd',
 '_astris',
 '_krbfast',
 '_gamecontrollerd',
 '_mbsetupuser',
 '_ondemand',
 '_xserverdocs',
 '_wwwproxy',
 '_mobileasset',
 '_findmydevice',
 '_datadetectors',
 '_captiveagent',
 '_ctkd',
 '_applepay',
 '_hidd',
 '_cmiodalassistants',
 '_analyticsd',
 '_fpsd',
 '_timed',
 '_nearbyd',
 '_reportmemoryexception',
 '_driverkit',
 '_diskimagesiod',
 '_logd',
 '_appinstalld',
 '_installcoordinationd',
 '_demod',
 '_rmd',
 '_accessoryupdater',
 '_knowledgegraphd',
 '_coreml',
 '_sntpd',
 '_trustd',
 '_darwindaemon',
 '_notification_proxy',
 '_oahd']

In [52]:
# ignore lines starting with #
[one_line.split(':')[0]                 # (3) SELECT
 for one_line in open('/etc/passwd')    # (1) FROM 
 if not one_line.startswith('#')]       # (2) WHERE

['nobody',
 'root',
 'daemon',
 '_uucp',
 '_taskgated',
 '_networkd',
 '_installassistant',
 '_lp',
 '_postfix',
 '_scsd',
 '_ces',
 '_appstore',
 '_mcxalr',
 '_appleevents',
 '_geod',
 '_devdocs',
 '_sandbox',
 '_mdnsresponder',
 '_ard',
 '_www',
 '_eppc',
 '_cvs',
 '_svn',
 '_mysql',
 '_sshd',
 '_qtss',
 '_cyrus',
 '_mailman',
 '_appserver',
 '_clamav',
 '_amavisd',
 '_jabber',
 '_appowner',
 '_windowserver',
 '_spotlight',
 '_tokend',
 '_securityagent',
 '_calendar',
 '_teamsserver',
 '_update_sharing',
 '_installer',
 '_atsserver',
 '_ftp',
 '_unknown',
 '_softwareupdate',
 '_coreaudiod',
 '_screensaver',
 '_locationd',
 '_trustevaluationagent',
 '_timezone',
 '_lda',
 '_cvmsroot',
 '_usbmuxd',
 '_dovecot',
 '_dpaudio',
 '_postgres',
 '_krbtgt',
 '_kadmin_admin',
 '_kadmin_changepw',
 '_devicemgr',
 '_webauthserver',
 '_netbios',
 '_warmd',
 '_dovenull',
 '_netstatistics',
 '_avbdeviced',
 '_krb_krbtgt',
 '_krb_kadmin',
 '_krb_changepw',
 '_krb_kerberos',
 '_krb_anonymous',
 '_assetcache',
 '_coremediaiod',
 '_launchservicesd',
 '_iconservices',
 '_distnote',
 '_nsurlsessiond',
 '_displaypolicyd',
 '_astris',
 '_krbfast',
 '_gamecontrollerd',
 '_mbsetupuser',
 '_ondemand',
 '_xserverdocs',
 '_wwwproxy',
 '_mobileasset',
 '_findmydevice',
 '_datadetectors',
 '_captiveagent',
 '_ctkd',
 '_applepay',
 '_hidd',
 '_cmiodalassistants',
 '_analyticsd',
 '_fpsd',
 '_timed',
 '_nearbyd',
 '_reportmemoryexception',
 '_driverkit',
 '_diskimagesiod',
 '_logd',
 '_appinstalld',
 '_installcoordinationd',
 '_demod',
 '_rmd',
 '_accessoryupdater',
 '_knowledgegraphd',
 '_coreml',
 '_sntpd',
 '_trustd',
 '_darwindaemon',
 '_notification_proxy',
 '_oahd']

In [53]:
for one_item in 'abcd':
    print(one_item)

a
b
c
d

In [54]:
for one_item in 5:
    print(one_item)

TypeError: 'int' object is not iterable

In [55]:
'c' in one_item

False

In [56]:
'c' in 5

TypeError: argument of type 'int' is not iterable

In [57]:
!ls *.txt

linux-etc-passwd.txt  myconf.txt  output.txt
mini-access-log.txt   nums.txt	  shoe-data.txt

In [58]:
!head shoe-data.txt

Adidas	orange	43
Nike	black	41
Adidas	black	39
New Balance	pink	41
Nike	white	44
New Balance	orange	38
Nike	pink	44
Adidas	pink	44
New Balance	orange	39
New Balance	black	43

# Exercise: Shoe dicts from shoe data

1. From the file `shoe-data.txt`, I want you to create a list of dicts.
2. Because there are 100 lines in the file (each with three columns -- `brand`, `color`, and `size` -- separated by tabs, `\t`), there will be 100 dicts in the list.
3. Each dict should look like

        {'brand':'Adidas',
         'color':'orange',
         'size':'43'}
     
4. I suggest writing a function for use in the list comprehension's expression.

In [64]:
def line_to_dict(one_line):
    brand, color, size = one_line.strip().split('\t')
    
    return {'brand': brand,
           'color': color,
           'size': size}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [67]:
# other way to do this -- warning! short code

def line_to_dict(one_line):
    return dict(zip(['brand', 'color', 'size'],
                   one_line.strip().split('\t')))


[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [66]:
list(zip('abc', [10,20, 30]))

[('a', 10), ('b', 20), ('c', 30)]

In [68]:
# return the expression to the comprehension... at your own professional risk

[ dict(zip(['brand', 'color', 'size'],
           one_line.strip().split('\t')))
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [70]:
list(zip([10, 20, 30], (100, 200, 300)))

[(10, 100), (20, 200), (30, 300)]

In [74]:
# normally, zip stops at the shortest argument's length
list(zip([10, 20, 30], (100, 200, 300), 'wxyz'))

[(10, 100, 'w'), (20, 200, 'x'), (30, 300, 'y')]

In [73]:
# new in Python 3.10
list(zip([10, 20, 30], (100, 200, 300), 'wxyz', strict=True))

ValueError: zip() argument 3 is longer than arguments 1-2

# Next up

1. Comprehensions
    1. Set comprehension
    2. Dict comprehension
    3. Nested comprehensions
2. Sorting in Python, and passing functions as args

Resume at 11:05

In [75]:
with open('shoe-data.txt') as f:
    # f.__enter__()
    for one_line in f:
        print(len(one_line), end=' ')
    # f.__exit__()  # with a file -- flushes + closes

17 14 16 20 14 22 13 15 22 21 22 14 17 16 15 16 17 13 15 22 13 14 14 14 16 20 16 20 22 17 22 21 20 14 13 21 14 16 22 21 14 16 16 17 22 14 16 14 17 15 22 13 13 16 21 13 14 15 17 22 15 15 15 14 15 17 13 16 15 20 21 20 15 13 14 14 21 16 15 14 21 20 16 16 22 13 17 14 15 16 14 13 21 14 20 15 22 21 16 14

In [ ]:
def line_to_dict(one_line):
    brand, color, size = one_line.strip().split('\t')
    
    return {'brand': brand,
           'color': color,
           'size': size}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

In [78]:
s = input('Enter numbers: ').strip()

sum([int(x)
 for x in s.split()])

Enter numbers: 10 20 30 10 20 30

120

In [79]:
# sum only the different/unique numbers

s = input('Enter numbers: ').strip()

sum(set([int(x)
 for x in s.split()]))

Enter numbers: 10 20 30 10 20 30

60

In [80]:
# set comprehension!
# use {} instead of [], and we get a set back
# all elements must be hashable (basically immutable)

{int(x)
for x in s.split()}

{10, 20, 30}

In [81]:
!head -30 linux-etc-passwd.txt

# This is a comment
# You should ignore me
root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
sys:x:3:3:sys:/dev:/usr/sbin/nologin
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/usr/sbin/nologin
man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin
mail:x:8:8:mail:/var/mail:/usr/sbin/nologin



news:x:9:9:news:/var/spool/news:/usr/sbin/nologin
uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin
proxy:x:13:13:proxy:/bin:/usr/sbin/nologin
www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin
backup:x:34:34:backup:/var/backups:/usr/sbin/nologin
list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin
irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin
gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin

nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin
syslog:x:101:104::/home/syslog:/bin/false
messagebus:x:102:106::/var/run/dbus:/bin/false
landscape:x:103:109::/var/lib/landscape:/bin/false
jci:x:955:955::/home/jci:/bin/bash
sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin
user:x:1000:1000:user,,,:/home/user:/bin/bash

# Exercise: What shells?

1. On each line of a passwd file, we have a record describing a user.  The final field is the "shell," the command interpreter.
2. Use a set comprehension to find the different shells in `linux-etc-passwd.txt.`
3. Note that the file contains both comment lines (starting with `#` and blank/empty lines)!  Ignore these two types of lines.

In [85]:
[one_line
  for one_line in open('linux-etc-passwd.txt')
  if not one_line.startswith('#') and one_line.strip()]

['root:x:0:0:root:/root:/bin/bash\n',
 'daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin\n',
 'bin:x:2:2:bin:/bin:/usr/sbin/nologin\n',
 'sys:x:3:3:sys:/dev:/usr/sbin/nologin\n',
 'sync:x:4:65534:sync:/bin:/bin/sync\n',
 'games:x:5:60:games:/usr/games:/usr/sbin/nologin\n',
 'man:x:6:12:man:/var/cache/man:/usr/sbin/nologin\n',
 'lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin\n',
 'mail:x:8:8:mail:/var/mail:/usr/sbin/nologin\n',
 'news:x:9:9:news:/var/spool/news:/usr/sbin/nologin\n',
 'uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin\n',
 'proxy:x:13:13:proxy:/bin:/usr/sbin/nologin\n',
 'www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin\n',
 'backup:x:34:34:backup:/var/backups:/usr/sbin/nologin\n',
 'list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin\n',
 'irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin\n',
 'gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin\n',
 'nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin\n',
 'syslog:x:101:104::/home/syslog:/bin/false\n',
 'messagebus:x:102:106::/var/run/dbus:/bin/false\n',
 'landscape:x:103:109::/var/lib/landscape:/bin/false\n',
 'jci:x:955:955::/home/jci:/bin/bash\n',
 'sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin\n',
 'user:x:1000:1000:user,,,:/home/user:/bin/bash\n',
 'reuven:x:1001:1001:Reuven M. Lerner,,,:/home/reuven:/bin/bash\n',
 'postfix:x:105:113::/var/spool/postfix:/bin/false\n',
 'colord:x:106:116:colord colour management daemon,,,:/var/lib/colord:/bin/false\n',
 'postgres:x:107:117:PostgreSQL administrator,,,:/var/lib/postgresql:/bin/bash\n',
 'dovecot:x:108:119:Dovecot mail server,,,:/usr/lib/dovecot:/bin/false\n',
 'dovenull:x:109:120:Dovecot login user,,,:/nonexistent:/bin/false\n',
 'postgrey:x:110:121::/var/lib/postgrey:/bin/false\n',
 'debian-spamd:x:111:122::/var/lib/spamassassin:/bin/sh\n',
 'memcache:x:113:124:Memcached,,,:/nonexistent:/bin/false\n',
 'genadi:x:1002:1003:Genadi Reznichenko,,,:/home/genadi:/bin/bash\n',
 'shira:x:1003:1004:Shira Friedman,,,:/home/shira:/bin/bash\n',
 'atara:x:1004:1005:Atara Lerner-Friedman,,,:/home/atara:/bin/bash\n',
 'shikma:x:1005:1006:Shikma Lerner-Friedman,,,:/home/shikma:/bin/bash\n',
 'amotz:x:1006:1007:Amotz Lerner-Friedman,,,:/home/amotz:/bin/bash\n',
 'mysql:x:114:125:MySQL Server,,,:/nonexistent:/bin/false\n',
 'clamav:x:115:126::/var/lib/clamav:/bin/false\n',
 'amavis:x:116:127:AMaViS system user,,,:/var/lib/amavis:/bin/sh\n',
 'opendkim:x:117:128::/var/run/opendkim:/bin/false\n',
 'gitlab-redis:x:999:1009::/var/opt/gitlab/redis:/bin/nologin\n',
 'gitlab-psql:x:998:1010::/var/opt/gitlab/postgresql:/bin/sh\n',
 'git:x:1007:1008:GitLab,,,:/home/git:/bin/bash\n',
 'opendmarc:x:118:129::/var/run/opendmarc:/bin/false\n',
 'dkim-milter-python:x:119:130::/var/run/dkim-milter-python:/bin/false\n',
 'deploy:x:1008:1011:Deploy,,,:/home/deploy:/bin/bash\n',
 'redis:x:112:123:redis server,,,:/var/lib/redis:/bin/false\n']

In [94]:
# set comprehension showing different shells from linux-etc-passwd.txt
{one_line.split(':')[-1].strip()
  for one_line in open('linux-etc-passwd.txt')
  if not one_line.startswith(('#', '\n'))}  # startswith can take a string, or a tuple of strings

{'/bin/bash',
 '/bin/false',
 '/bin/nologin',
 '/bin/sh',
 '/bin/sync',
 '/usr/sbin/nologin'}

In [97]:
# dict comprehension
# creates one dict; the expression describes/defines one key-value pair

words = 'this is a bunch of words and is a great example'.split()

{ one_word : len(one_word)     # two separate expressions -- one for the key, one for the value
 for one_word in words }

{'this': 4,
 'is': 2,
 'a': 1,
 'bunch': 5,
 'of': 2,
 'words': 5,
 'and': 3,
 'great': 5,
 'example': 7}

In [98]:
# flip a dict

d = {'a':1, 'b':2, 'c':3}

{ value : key
  for key, value in d.items() 
}

{1: 'a', 2: 'b', 3: 'c'}

In [100]:
# flip a dict

d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':4, 'f':3, 'g':2}

{ value : key
  for key, value in d.items() 
}

{1: 'a', 2: 'g', 3: 'f', 4: 'e'}

In [99]:
!ls *conf*

myconf.txt

In [102]:
!cat myconf.txt

a:10
b:20
c:30

In [103]:
# read from the config file via a dict comprehension

{ one_line.split(':')[0]  :  one_line.split(':')[1].strip()
 for one_line in open('myconf.txt')
}

{'a': '10', 'b': '20', 'c': '30'}

In [106]:
# if you really insist, we can use := to share data

# := walrus (assignment expression operator)


{ fields[0]  :  fields[1]
 for one_line in open('myconf.txt')
 if (fields := one_line.strip().split(':'))
}

{'a': '10', 'b': '20', 'c': '30'}

# Exercise: Usernames and user IDs

Use a dict comprehension on `linux-etc-passwd.txt` to create a dict where the usernames (index 0) are keys and the user ID (index 2) numbers are values.

In [107]:
!head linux-etc-passwd.txt

# This is a comment
# You should ignore me
root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
sys:x:3:3:sys:/dev:/usr/sbin/nologin
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/usr/sbin/nologin
man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin

In [112]:
{one_line.split(':')[0]     :   one_line.split(':')[2:4]   # slice for user ID + group ID
for one_line in open('linux-etc-passwd.txt')
if not one_line.startswith(('#', '\n'))}

{'root': ['0', '0'],
 'daemon': ['1', '1'],
 'bin': ['2', '2'],
 'sys': ['3', '3'],
 'sync': ['4', '65534'],
 'games': ['5', '60'],
 'man': ['6', '12'],
 'lp': ['7', '7'],
 'mail': ['8', '8'],
 'news': ['9', '9'],
 'uucp': ['10', '10'],
 'proxy': ['13', '13'],
 'www-data': ['33', '33'],
 'backup': ['34', '34'],
 'list': ['38', '38'],
 'irc': ['39', '39'],
 'gnats': ['41', '41'],
 'nobody': ['65534', '65534'],
 'syslog': ['101', '104'],
 'messagebus': ['102', '106'],
 'landscape': ['103', '109'],
 'jci': ['955', '955'],
 'sshd': ['104', '65534'],
 'user': ['1000', '1000'],
 'reuven': ['1001', '1001'],
 'postfix': ['105', '113'],
 'colord': ['106', '116'],
 'postgres': ['107', '117'],
 'dovecot': ['108', '119'],
 'dovenull': ['109', '120'],
 'postgrey': ['110', '121'],
 'debian-spamd': ['111', '122'],
 'memcache': ['113', '124'],
 'genadi': ['1002', '1003'],
 'shira': ['1003', '1004'],
 'atara': ['1004', '1005'],
 'shikma': ['1005', '1006'],
 'amotz': ['1006', '1007'],
 'mysql': ['114', '125'],
 'clamav': ['115', '126'],
 'amavis': ['116', '127'],
 'opendkim': ['117', '128'],
 'gitlab-redis': ['999', '1009'],
 'gitlab-psql': ['998', '1010'],
 'git': ['1007', '1008'],
 'opendmarc': ['118', '129'],
 'dkim-milter-python': ['119', '130'],
 'deploy': ['1008', '1011'],
 'redis': ['112', '123']}

In [120]:
import random

random.seed(0)
mylist = [[random.randint(-50, 50) for i in range(random.randint(1, 5))],
         [random.randint(-50, 50) for i in range(random.randint(1, 5))],
         [random.randint(-50, 50) for i in range(random.randint(1, 5))],
         [random.randint(-50, 50) for i in range(random.randint(1, 5))],
         [random.randint(-50, 50) for i in range(random.randint(1, 5))]
         ]

In [121]:
mylist  # list of lists!

[[47, 3, -45, -17], [12, 1, 50, -12, 11], [24, -23, 14], [-14, -33], [29]]

In [122]:
# I want a flattened , 1D list --with integers in it
# nested list comprehension

[one_number
 for one_sublist in mylist
 for one_number in one_sublist]

[47, 3, -45, -17, 12, 1, 50, -12, 11, 24, -23, 14, -14, -33, 29]

In [125]:
[*one_number
 for one_number in mylist]

SyntaxError: iterable unpacking cannot be used in comprehension (3722370174.py, line 1)

In [126]:
[one_number
 for one_sublist in mylist
 for one_number in one_sublist]

[47, 3, -45, -17, 12, 1, 50, -12, 11, 24, -23, 14, -14, -33, 29]

In [128]:
[one_number
 for one_sublist in mylist
    if len(one_sublist) > 3
 for one_number in one_sublist
    if one_number > 0]

[47, 3, 12, 1, 50, 11]

In [129]:
!head movies.dat

1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children's
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller

# Exercise: Popular movie categories

1. Use a nested comprehension to create a list of movie categories.
2. Hand this list to `Counter`, which will count the number of times each category appears.
3. What were the 5 most common categories for all of these movies?

In [130]:
!file movies.dat

movies.dat: Unicode text, UTF-8 text

In [131]:
f = open('movies.dat', encoding='UTF-8')

In [133]:
[one_category
 for one_line in open('movies.dat', encoding='UTF-8')
 for one_category in one_line.split('::')[-1]]

['1',
 'Toy Story (1995)',
 "Animation|Children's|Comedy\n",
 '2',
 'Jumanji (1995)',
 "Adventure|Children's|Fantasy\n",
 '3',
 'Grumpier Old Men (1995)',
 'Comedy|Romance\n',
 '4',
 'Waiting to Exhale (1995)',
 'Comedy|Drama\n',
 '5',
 'Father of the Bride Part II (1995)',
 'Comedy\n',
 '6',
 'Heat (1995)',
 'Action|Crime|Thriller\n',
 '7',
 'Sabrina (1995)',
 'Comedy|Romance\n',
 '8',
 'Tom and Huck (1995)',
 "Adventure|Children's\n",
 '9',
 'Sudden Death (1995)',
 'Action\n',
 '10',
 'GoldenEye (1995)',
 'Action|Adventure|Thriller\n',
 '11',
 'American President, The (1995)',
 'Comedy|Drama|Romance\n',
 '12',
 'Dracula: Dead and Loving It (1995)',
 'Comedy|Horror\n',
 '13',
 'Balto (1995)',
 "Animation|Children's\n",
 '14',
 'Nixon (1995)',
 'Drama\n',
 '15',
 'Cutthroat Island (1995)',
 'Action|Adventure|Romance\n',
 '16',
 'Casino (1995)',
 'Drama|Thriller\n',
 '17',
 'Sense and Sensibility (1995)',
 'Drama|Romance\n',
 '18',
 'Four Rooms (1995)',
 'Thriller\n',
 '19',
 'Ace Ventura: When Nature Calls (1995)',
 'Comedy\n',
 '20',
 'Money Train (1995)',
 'Action\n',
 '21',
 'Get Shorty (1995)',
 'Action|Comedy|Drama\n',
 '22',
 'Copycat (1995)',
 'Crime|Drama|Thriller\n',
 '23',
 'Assassins (1995)',
 'Thriller\n',
 '24',
 'Powder (1995)',
 'Drama|Sci-Fi\n',
 '25',
 'Leaving Las Vegas (1995)',
 'Drama|Romance\n',
 '26',
 'Othello (1995)',
 'Drama\n',
 '27',
 'Now and Then (1995)',
 'Drama\n',
 '28',
 'Persuasion (1995)',
 'Romance\n',
 '29',
 'City of Lost Children, The (1995)',
 'Adventure|Sci-Fi\n',
 '30',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Drama\n',
 '31',
 'Dangerous Minds (1995)',
 'Drama\n',
 '32',
 'Twelve Monkeys (1995)',
 'Drama|Sci-Fi\n',
 '33',
 'Wings of Courage (1995)',
 'Adventure|Romance\n',
 '34',
 'Babe (1995)',
 "Children's|Comedy|Drama\n",
 '35',
 'Carrington (1995)',
 'Drama|Romance\n',
 '36',
 'Dead Man Walking (1995)',
 'Drama\n',
 '37',
 'Across the Sea of Time (1995)',
 'Documentary\n',
 '38',
 'It Takes Two (1995)',
 'Comedy\n',
 '39',
 'Clueless (1995)',
 'Comedy|Romance\n',
 '40',
 'Cry, the Beloved Country (1995)',
 'Drama\n',
 '41',
 'Richard III (1995)',
 'Drama|War\n',
 '42',
 'Dead Presidents (1995)',
 'Action|Crime|Drama\n',
 '43',
 'Restoration (1995)',
 'Drama\n',
 '44',
 'Mortal Kombat (1995)',
 'Action|Adventure\n',
 '45',
 'To Die For (1995)',
 'Comedy|Drama\n',
 '46',
 'How to Make an American Quilt (1995)',
 'Drama|Romance\n',
 '47',
 'Seven (Se7en) (1995)',
 'Crime|Thriller\n',
 '48',
 'Pocahontas (1995)',
 "Animation|Children's|Musical|Romance\n",
 '49',
 'When Night Is Falling (1995)',
 'Drama|Romance\n',
 '50',
 'Usual Suspects, The (1995)',
 'Crime|Thriller\n',
 '51',
 'Guardian Angel (1994)',
 'Action|Drama|Thriller\n',
 '52',
 'Mighty Aphrodite (1995)',
 'Comedy\n',
 '53',
 'Lamerica (1994)',
 'Drama\n',
 '54',
 'Big Green, The (1995)',
 "Children's|Comedy\n",
 '55',
 'Georgia (1995)',
 'Drama\n',
 '56',
 'Kids of the Round Table (1995)',
 "Adventure|Children's|Fantasy\n",
 '57',
 'Home for the Holidays (1995)',
 'Drama\n',
 '58',
 'Postino, Il (The Postman) (1994)',
 'Drama|Romance\n',
 '59',
 'Confessional, The (Le Confessionnal) (1995)',
 'Drama|Mystery\n',
 '60',
 'Indian in the Cupboard, The (1995)',
 "Adventure|Children's|Fantasy\n",
 '61',
 'Eye for an Eye (1996)',
 'Drama|Thriller\n',
 '62',
 "Mr. Holland's Opus (1995)",
 'Drama\n',
 '63',
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 'Comedy\n',
 '64',
 'Two if by Sea (1996)',
 'Comedy|Romance\n',
 '65',
 'Bio-Dome (1996)',
 'Comedy\n',
 '66',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'Sci-Fi|Thriller\n',
 '67',
 'Two Bits (1995)',
 'Drama\n',
 '68',
 'French Twist (Gazon maudit) (1995)',
 'Comedy|Romance\n',
 '69',
 'Friday (1995)',
 'Comedy\n',
 '70',
 'From Dusk Till Dawn (1996)',
 'Action|Comedy|Crime|Horror|Thriller\n',
 '71',
 'Fair Game (1995)',
 'Action\n',
 '72',
 'Kicking and Screaming (1995)',
 'Comedy|Drama\n',
 '73',
 'Misérables, Les (1995)',
 'Drama|Musical\n',
 '74',
 'Bed of Roses (1996)',
 'Drama|Romance\n',
 '75',
 'Big Bully (1996)',
 'Comedy|Drama\n',
 '76',
 'Screamers (1995)',
 'Sci-Fi|Thriller\n',
 '77',
 'Nico Icon (1995)',
 'Documentary\n',
 '78',
 'Crossing Guard, The (1995)',
 'Drama\n',
 '79',
 'Juror, The (1996)',
 'Drama|Thriller\n',
 '80',
 'White Balloon, The (Badkonake Sefid ) (1995)',
 'Drama\n',
 '81',
 "Things to Do in Denver when You're Dead (1995)",
 'Crime|Drama|Romance\n',
 '82',
 "Antonia's Line (Antonia) (1995)",
 'Drama\n',
 '83',
 'Once Upon a Time... When We Were Colored (1995)',
 'Drama\n',
 '84',
 'Last Summer in the Hamptons (1995)',
 'Comedy|Drama\n',
 '85',
 'Angels and Insects (1995)',
 'Drama|Romance\n',
 '86',
 'White Squall (1996)',
 'Adventure|Drama\n',
 '87',
 'Dunston Checks In (1996)',
 "Children's|Comedy\n",
 '88',
 'Black Sheep (1996)',
 'Comedy\n',
 '89',
 'Nick of Time (1995)',
 'Action|Thriller\n',
 '90',
 'Journey of August King, The (1995)',
 'Drama\n',
 '92',
 'Mary Reilly (1996)',
 'Drama|Thriller\n',
 '93',
 'Vampire in Brooklyn (1995)',
 'Comedy|Romance\n',
 '94',
 'Beautiful Girls (1996)',
 'Drama\n',
 '95',
 'Broken Arrow (1996)',
 'Action|Thriller\n',
 '96',
 'In the Bleak Midwinter (1995)',
 'Comedy\n',
 '97',
 'Hate (Haine, La) (1995)',
 'Drama\n',
 '98',
 'Shopping (1994)',
 'Action|Thriller\n',
 '99',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'Documentary\n',
 '100',
 'City Hall (1996)',
 'Drama|Thriller\n',
 '101',
 'Bottle Rocket (1996)',
 'Comedy\n',
 '102',
 'Mr. Wrong (1996)',
 'Comedy\n',
 '103',
 'Unforgettable (1996)',
 'Thriller\n',
 '104',
 'Happy Gilmore (1996)',
 'Comedy\n',
 '105',
 'Bridges of Madison County, The (1995)',
 'Drama|Romance\n',
 '106',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Comedy|Drama\n',
 '107',
 'Muppet Treasure Island (1996)',
 "Adventure|Children's|Comedy|Musical\n",
 '108',
 'Catwalk (1995)',
 'Documentary\n',
 '109',
 'Headless Body in Topless Bar (1995)',
 'Comedy\n',
 '110',
 'Braveheart (1995)',
 'Action|Drama|War\n',
 '111',
 'Taxi Driver (1976)',
 'Drama|Thriller\n',
 '112',
 'Rumble in the Bronx (1995)',
 'Action|Adventure|Crime\n',
 '113',
 'Before and After (1996)',
 'Drama|Mystery\n',
 '114',
 "Margaret's Museum (1995)",
 'Drama\n',
 '115',
 'Happiness Is in the Field (1995)',
 'Comedy\n',
 '116',
 'Anne Frank Remembered (1995)',
 'Documentary\n',
 '117',
 "Young Poisoner's Handbook, The (1995)",
 'Crime\n',
 '118',
 'If Lucy Fell (1996)',
 'Comedy|Romance\n',
 '119',
 'Steal Big, Steal Little (1995)',
 'Comedy\n',
 '120',
 'Race the Sun (1996)',
 'Drama\n',
 '121',
 'Boys of St. Vincent, The (1993)',
 'Drama\n',
 '122',
 'Boomerang (1992)',
 'Comedy|Romance\n',
 '123',
 'Chungking Express (1994)',
 'Drama|Mystery|Romance\n',
 '124',
 "Star Maker, The (Uomo delle stelle, L') (1995)",
 'Drama\n',
 '125',
 'Flirting With Disaster (1996)',
 'Comedy\n',
 '126',
 'NeverEnding Story III, The (1994)',
 "Adventure|Children's|Fantasy\n",
 '127',
 'Silence of the Palace, The (Saimt el Qusur) (1994)',
 'Drama\n',
 '128',
 "Jupiter's Wife (1994)",
 'Documentary\n',
 '129',
 'Pie in the Sky (1995)',
 'Comedy|Romance\n',
 '130',
 'Angela (1995)',
 'Drama\n',
 '131',
 'Frankie Starlight (1995)',
 'Drama|Romance\n',
 '132',
 'Jade (1995)',
 'Thriller\n',
 '133',
 'Nueba Yol (1995)',
 'Comedy|Drama\n',
 '134',
 'Sonic Outlaws (1995)',
 'Documentary\n',
 '135',
 'Down Periscope (1996)',
 'Comedy\n',
 '136',
 'From the Journals of Jean Seberg (1995)',
 'Documentary\n',
 '137',
 'Man of the Year (1995)',
 'Documentary\n',
 '138',
 'Neon Bible, The (1995)',
 'Drama\n',
 '139',
 'Target (1995)',
 'Action|Drama\n',
 '140',
 'Up Close and Personal (1996)',
 'Drama|Romance\n',
 '141',
 'Birdcage, The (1996)',
 'Comedy\n',
 '142',
 'Shadows (Cienie) (1988)',
 'Drama\n',
 '143',
 'Gospa (1995)',
 'Drama\n',
 '144',
 'Brothers McMullen, The (1995)',
 'Comedy\n',
 '145',
 'Bad Boys (1995)',
 'Action\n',
 '146',
 'Amazing Panda Adventure, The (1995)',
 "Adventure|Children's\n",
 '147',
 'Basketball Diaries, The (1995)',
 'Drama\n',
 '148',
 'Awfully Big Adventure, An (1995)',
 'Drama\n',
 '149',
 'Amateur (1994)',
 'Crime|Drama|Thriller\n',
 '150',
 'Apollo 13 (1995)',
 'Drama\n',
 '151',
 'Rob Roy (1995)',
 'Drama|Romance|War\n',
 '152',
 'Addiction, The (1995)',
 'Horror\n',
 '153',
 'Batman Forever (1995)',
 'Action|Adventure|Comedy|Crime\n',
 '154',
 'Belle de jour (1967)',
 'Drama\n',
 '155',
 'Beyond Rangoon (1995)',
 'Drama|War\n',
 '156',
 'Blue in the Face (1995)',
 'Comedy\n',
 '157',
 'Canadian Bacon (1994)',
 'Comedy|War\n',
 '158',
 'Casper (1995)',
 "Adventure|Children's\n",
 '159',
 'Clockers (1995)',
 'Drama\n',
 '160',
 'Congo (1995)',
 'Action|Adventure|Mystery|Sci-Fi\n',
 '161',
 'Crimson Tide (1995)',
 'Drama|Thriller|War\n',
 '162',
 'Crumb (1994)',
 'Documentary\n',
 '163',
 'Desperado (1995)',
 'Action|Romance|Thriller\n',
 '164',
 'Devil in a Blue Dress (1995)',
 'Crime|Film-Noir|Mystery|Thriller\n',
 '165',
 'Die Hard: With a Vengeance (1995)',
 'Action|Thriller\n',
 '166',
 'Doom Generation, The (1995)',
 'Comedy|Drama\n',
 '167',
 'Feast of July (1995)',
 'Drama\n',
 '168',
 'First Knight (1995)',
 'Action|Adventure|Drama|Romance\n',
 '169',
 'Free Willy 2: The Adventure Home (1995)',
 "Adventure|Children's|Drama\n",
 '170',
 'Hackers (1995)',
 'Action|Crime|Thriller\n',
 '171',
 'Jeffrey (1995)',
 'Comedy\n',
 '172',
 'Johnny Mnemonic (1995)',
 'Action|Sci-Fi|Thriller\n',
 '173',
 'Judge Dredd (1995)',
 'Action|Adventure|Sci-Fi\n',
 '174',
 'Jury Duty (1995)',
 'Comedy\n',
 '175',
 'Kids (1995)',
 'Drama\n',
 '176',
 'Living in Oblivion (1995)',
 'Comedy\n',
 '177',
 'Lord of Illusions (1995)',
 'Horror\n',
 '178',
 'Love & Human Remains (1993)',
 'Comedy\n',
 '179',
 'Mad Love (1995)',
 'Drama|Romance\n',
 '180',
 'Mallrats (1995)',
 'Comedy\n',
 '181',
 'Mighty Morphin Power Rangers: The Movie (1995)',
 "Action|Children's\n",
 '182',
 'Moonlight and Valentino (1995)',
 'Drama|Romance\n',
 '183',
 'Mute Witness (1994)',
 'Thriller\n',
 '184',
 'Nadja (1994)',
 'Drama\n',
 '185',
 'Net, The (1995)',
 'Sci-Fi|Thriller\n',
 '186',
 'Nine Months (1995)',
 'Comedy\n',
 '187',
 'Party Girl (1995)',
 'Comedy\n',
 '188',
 'Prophecy, The (1995)',
 'Horror\n',
 '189',
 'Reckless (1995)',
 'Comedy\n',
 '190',
 'Safe (1995)',
 'Thriller\n',
 '191',
 'Scarlet Letter, The (1995)',
 'Drama\n',
 '192',
 'Show, The (1995)',
 'Documentary\n',
 '193',
 'Showgirls (1995)',
 'Drama\n',
 '194',
 'Smoke (1995)',
 'Drama\n',
 '195',
 'Something to Talk About (1995)',
 'Comedy|Drama|Romance\n',
 '196',
 'Species (1995)',
 'Horror|Sci-Fi\n',
 '197',
 'Stars Fell on Henrietta, The (1995)',
 'Drama\n',
 '198',
 'Strange Days (1995)',
 'Action|Crime|Sci-Fi\n',
 '199',
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 'Drama|Musical\n',
 '200',
 'Tie That Binds, The (1995)',
 'Thriller\n',
 '201',
 'Three Wishes (1995)',
 'Drama\n',
 '202',
 'Total Eclipse (1995)',
 'Drama|Romance\n',
 '203',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Comedy\n',
 '204',
 'Under Siege 2: Dark Territory (1995)',
 'Action\n',
 '205',
 'Unstrung Heroes (1995)',
 'Comedy|Drama\n',
 '206',
 'Unzipped (1995)',
 'Documentary\n',
 '207',
 'Walk in the Clouds, A (1995)',
 'Drama|Romance\n',
 '208',
 'Waterworld (1995)',
 'Action|Adventure\n',
 '209',
 "White Man's Burden (1995)",
 'Drama\n',
 '210',
 'Wild Bill (1995)',
 'Western\n',
 '211',
 'Browning Version, The (1994)',
 'Drama\n',
 '212',
 'Bushwhacked (1995)',
 'Comedy\n',
 '213',
 'Burnt By the Sun (Utomlyonnye solntsem) (1994)',
 'Drama\n',
 '214',
 'Before the Rain (Pred dozhdot) (1994)',
 'Drama\n',
 '215',
 'Before Sunrise (1995)',
 'Drama|Romance\n',
 '216',
 'Billy Madison (1995)',
 'Comedy\n',
 '217',
 'Babysitter, The (1995)',
 'Drama|Thriller\n',
 '218',
 'Boys on the Side (1995)',
 'Comedy|Drama\n',
 '219',
 'Cure, The (1995)',
 'Drama\n',
 '220',
 'Castle Freak (1995)',
 'Horror\n',
 '222',
 'Circle of Friends (1995)',
 'Drama|Romance\n',
 '223',
 'Clerks (1994)',
 'Comedy\n',
 '224',
 'Don Juan DeMarco (1995)',
 'Comedy|Drama|Romance\n',
 '225',
 'Disclosure (1994)',
 'Drama|Thriller\n',
 '226',
 'Dream Man (1995)',
 'Thriller\n',
 '227',
 'Drop Zone (1994)',
 'Action\n',
 '228',
 'Destiny Turns on the Radio (1995)',
 'Comedy\n',
 '229',
 'Death and the Maiden (1994)',
 'Drama|Thriller\n',
 '230',
 'Dolores Claiborne (1994)',
 'Drama|Thriller\n',
 '231',
 'Dumb & Dumber (1994)',
 'Comedy\n',
 '232',
 'Eat Drink Man Woman (1994)',
 'Comedy|Drama\n',
 '233',
 'Exotica (1994)',
 'Drama\n',
 '234',
 'Exit to Eden (1994)',
 'Comedy\n',
 '235',
 'Ed Wood (1994)',
 'Comedy|Drama\n',
 '236',
 'French Kiss (1995)',
 'Comedy|Romance\n',
 '237',
 'Forget Paris (1995)',
 'Comedy|Romance\n',
 '238',
 'Far From Home: The Adventures of Yellow Dog (1995)',
 "Adventure|Children's\n",
 '239',
 'Goofy Movie, A (1995)',
 "Animation|Children's|Comedy|Romance\n",
 '240',
 'Hideaway (1995)',
 'Thriller\n',
 '241',
 'Fluke (1995)',
 "Children's|Drama\n",
 '242',
 'Farinelli: il castrato (1994)',
 'Drama|Musical\n',
 '243',
 'Gordy (1995)',
 'Comedy\n',
 '244',
 'Gumby: The Movie (1995)',
 "Animation|Children's\n",
 '245',
 'Glass Shield, The (1994)',
 'Crime|Drama\n',
 '246',
 'Hoop Dreams (1994)',
 'Documentary\n',
 '247',
 'Heavenly Creatures (1994)',
 'Drama|Fantasy|Romance|Thriller\n',
 '248',
 'Houseguest (1994)',
 'Comedy\n',
 '249',
 'Immortal Beloved (1994)',
 'Drama|Romance\n',
 '250',
 'Heavyweights (1994)',
 "Children's|Comedy\n",
 '251',
 'Hunted, The (1995)',
 'Action\n',
 '252',
 'I.Q. (1994)',
 'Comedy|Romance\n',
 '253',
 'Interview with the Vampire (1994)',
 'Drama|Horror\n',
 '254',
 'Jefferson in Paris (1995)',
 'Drama\n',
 '255',
 'Jerky Boys, The (1994)',
 'Comedy\n',
 '256',
 'Junior (1994)',
 'Comedy|Sci-Fi\n',
 '257',
 'Just Cause (1995)',
 'Mystery|Thriller\n',
 '258',
 "Kid in King Arthur's Court, A (1995)",
 "Adventure|Children's|Comedy|Fantasy|Romance\n",
 '259',
 'Kiss of Death (1995)',
 'Crime|Drama|Thriller\n',
 '260',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Action|Adventure|Fantasy|Sci-Fi\n',
 '261',
 'Little Women (1994)',
 'Drama\n',
 '262',
 'Little Princess, A (1995)',
 "Children's|Drama\n",
 '263',
 'Ladybird Ladybird (1994)',
 'Drama\n',
 '264',
 "Enfer, L' (1994)",
 'Drama\n',
 '265',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Drama|Romance\n',
 '266',
 'Legends of the Fall (1994)',
 'Drama|Romance|War|Western\n',
 '267',
 'Major Payne (1994)',
 'Comedy\n',
 '268',
 'Little Odessa (1994)',
 'Drama\n',
 '269',
 'My Crazy Life (Mi vida loca) (1993)',
 'Drama\n',
 '270',
 'Love Affair (1994)',
 'Drama|Romance\n',
 '271',
 'Losing Isaiah (1995)',
 'Drama\n',
 '272',
 'Madness of King George, The (1994)',
 'Drama\n',
 '273',
 "Mary Shelley's Frankenstein (1994)",
 'Drama|Horror\n',
 '274',
 'Man of the House (1995)',
 'Comedy\n',
 '275',
 'Mixed Nuts (1994)',
 'Comedy\n',
 '276',
 'Milk Money (1994)',
 'Comedy|Romance\n',
 '277',
 'Miracle on 34th Street (1994)',
 'Drama\n',
 '278',
 'Miami Rhapsody (1995)',
 'Comedy\n',
 '279',
 'My Family (1995)',
 'Drama\n',
 '280',
 'Murder in the First (1995)',
 'Drama|Thriller\n',
 '281',
 "Nobody's Fool (1994)",
 'Drama\n',
 '282',
 'Nell (1994)',
 'Drama\n',
 '283',
 'New Jersey Drive (1995)',
 'Crime|Drama\n',
 '284',
 'New York Cop (1996)',
 'Action|Crime\n',
 '285',
 'Beyond Bedlam (1993)',
 'Drama|Horror\n',
 '286',
 'Nemesis 2: Nebula (1995)',
 'Action|Sci-Fi|Thriller\n',
 '287',
 'Nina Takes a Lover (1994)',
 'Comedy|Romance\n',
 '288',
 'Natural Born Killers (1994)',
 'Action|Thriller\n',
 '289',
 'Only You (1994)',
 'Comedy|Romance\n',
 '290',
 'Once Were Warriors (1994)',
 'Crime|Drama\n',
 '291',
 'Poison Ivy II (1995)',
 'Thriller\n',
 '292',
 'Outbreak (1995)',
 'Action|Drama|Thriller\n',
 '293',
 'Professional, The (a.k.a. Leon: The Professional) (1994)',
 'Crime|Drama|Romance|Thriller\n',
 '294',
 'Perez Family, The (1995)',
 'Comedy|Romance\n',
 '295',
 "Pyromaniac's Love Story, A (1995)",
 'Comedy|Romance\n',
 '296',
 'Pulp Fiction (1994)',
 'Crime|Drama\n',
 '297',
 'Panther (1995)',
 'Drama\n',
 '298',
 'Pushing Hands (1992)',
 'Comedy\n',
 '299',
 'Priest (1994)',
 'Drama\n',
 '300',
 'Quiz Show (1994)',
 'Drama\n',
 '301',
 'Picture Bride (1995)',
 'Drama|Romance\n',
 '302',
 'Queen Margot (La Reine Margot) (1994)',
 'Drama|Romance\n',
 '303',
 'Quick and the Dead, The (1995)',
 'Action|Adventure|Western\n',
 '304',
 'Roommates (1995)',
 'Comedy|Drama\n',
 '305',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Comedy\n',
 '306',
 'Three Colors: Red (1994)',
 'Drama\n',
 '307',
 'Three Colors: Blue (1993)',
 'Drama\n',
 '308',
 'Three Colors: White (1994)',
 'Drama\n',
 '309',
 'Red Firecracker, Green Firecracker (1994)',
 'Drama\n',
 '310',
 'Rent-a-Kid (1995)',
 'Comedy\n',
 '311',
 'Relative Fear (1994)',
 'Horror|Thriller\n',
 '312',
 'Stuart Saves His Family (1995)',
 'Comedy\n',
 '313',
 'Swan Princess, The (1994)',
 "Animation|Children's\n",
 '314',
 'Secret of Roan Inish, The (1994)',
 'Drama\n',
 '315',
 'Specialist, The (1994)',
 'Action\n',
 '316',
 'Stargate (1994)',
 'Action|Adventure|Sci-Fi\n',
 '317',
 'Santa Clause, The (1994)',
 "Children's|Comedy|Fantasy\n",
 '318',
 'Shawshank Redemption, The (1994)',
 'Drama\n',
 '319',
 'Shallow Grave (1994)',
 'Thriller\n',
 '320',
 'Suture (1993)',
 'Film-Noir|Thriller\n',
 '321',
 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 'Drama\n',
 '322',
 'Swimming with Sharks (1995)',
 'Comedy|Drama\n',
 '324',
 'Sum of Us, The (1994)',
 'Comedy\n',
 '325',
 "National Lampoon's Senior Trip (1995)",
 'Comedy\n',
 '326',
 'To Live (Huozhe) (1994)',
 'Drama\n',
 '327',
 'Tank Girl (1995)',
 'Action|Comedy|Musical|Sci-Fi\n',
 '328',
 'Tales From the Crypt Presents: Demon Knight (1995)',
 'Horror\n',
 '329',
 'Star Trek: Generations (1994)',
 'Action|Adventure|Sci-Fi\n',
 '330',
 'Tales from the Hood (1995)',
 'Comedy|Horror\n',
 '331',
 'Tom & Viv (1994)',
 'Drama\n',
 '332',
 'Village of the Damned (1995)',
 'Horror|Sci-Fi\n',
 '333',
 'Tommy Boy (1995)',
 'Comedy\n',
 '334',
 'Vanya on 42nd Street (1994)',
 'Drama\n',
 '335',
 'Underneath, The (1995)',
 'Mystery|Thriller\n',
 '336',
 'Walking Dead, The (1995)',
 'Drama|War\n',
 '337',
 ...]